.App {
  nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    display: grid;
    grid-template-columns: 5rem 1fr 1fr 5rem;
    align-items: center;
    margin: 2% 0%;
    div.logo{
      grid-column: 2/3;
      div.cube{
        height: 20px;
        width: 20px;
        background-color: rgb(0, 80, 255);
        position: absolute;
        left: 3%;
        top: 35%;
      
      }
      span.author-name{
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: bold;
        margin: 2px;
      }
      span.position{
        font-size: 1rem;
        margin: 2px;
        text-transform: uppercase;
      }
    }
    div.pages-link{
      grid-column: 3/4;
      display: flex;
      justify-self: end;
      padding: 0% 6%;
      li{
        list-style: none;
        text-transform: uppercase;
        margin: 3%;
        .active_link{
          color: rgb(0, 8, 255);
          text-decoration: none;
        }
        // .not_active_link{
        //   color: #000;
        //   text-decoration: none;
        // }
      }
    }
    button.mobile-menu-bars{
      // color: red;
      display: none;
    }
  }
}
    .footer{
      bottom: 0;
      padding: 2%;
      display: grid;
      grid-template-columns: 3rem 2fr 1fr 5rem;
      div.editor{
        grid-column: 2/3;
        color: rgb(56, 58, 59);
      }
      div.social-contact-links{
        text-align: center;
        grid-column: 3/4;
        display: flex;
        section{
          margin: 0% 6%;
          b{
            text-transform: capitalize;
            margin-bottom: 2%;
          }
        }
      }
    }
    // responsive for mobile
    @media screen and (max-width:750px){
      div.App{
        nav{
          position: static;
          display: flex;
          // justify-content: space-between;
          div.logo{
            display: flex;
            flex-direction: column;
            div.cube{
              display: none;
            }
            span.author-name{
              // color: red;
              font-size: 1.6em;
            }
            span.vertical-bar{
              display: none;
            }
            span.position{
              font-size: 0.75em;
              // color: red;
            }
          }
          div.pages-link{
            display: none;
          }
          div.mobile-pages-link{
            width: 100%;
            height: 100%;
            // transition: all 5s ease-in-out;
            background-color: rgb(201, 192, 184);
            top: 0%;
            position: absolute;
            z-index: 1;
            display: inline-block;
            overflow-y: hidden;
            // padding: 3% ;
            li{
              text-align: center;
              display: block;
              text-transform: uppercase;
              margin: 3%;
              padding: 5%;
            }
          }
          .mobile-menu-bars{
            display: block;
            position: absolute;
            top: 3%;
            right: 2%;
            background: none;
            border: none;
            font-size: 3vh;
            z-index: 1;
        }
          #mobile-links{
            text-decoration: none;
          }
        }
      }
      .footer{
        display: flex;
        flex-direction: column;
        div.editor{
          order: 2;
          margin: 2% 0%;
        }
        div.social-contact-links{
          flex-wrap: wrap;
          justify-content: center;
          section.contact-social{
            margin: 5% 0%;
          }
        }
      }
    }